

.nav-link {
    font-size:25px; 
    color : #eeeeee ;
    font-weight: 400;
    
}

.nav-link:hover{
    color: whitesmoke; 
    font-size: 27px;
    font-weight: 500;
}

.navbar-brand{
    font-size:25px; 
    color : white; 
    font-weight: 400;
    
}

.navbar-brand:hover{
    color: whitesmoke; 
    font-size: 27px;
    font-weight: 500;
   
}

.Tab {
    color : white; 
}

.AppBar {
    background-color: black !important;
}

.Tab {
    color: white !important ; 
}