body{
    color:white !important; 
}


.card {
    background-color: #333333 !important;
    justify-content: center;
    width: 100vw; 
    margin:10px !important ;
    border-radius: 15px !important;
}



.form-control { 
    background-color: #eeeeee !important; 
}
.form {
    padding: 50px !important; 
}




.list-group-item {
    background-color: #444444 !important ;
    color: #eeeeee !important;

}

.removeNoteButton{
    padding: 20px;
  
    border-radius: 0px !important;
    background-color: #202020d5 !important;
   
}
.notes-list{
    border-radius: 10px;
}

.addNoteButton {
    margin-top: 45px ;
    margin-bottom: 15px ;
}
/*
border-bottom-right-radius: 5px !important;
    border-top-right-radius: 5px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
*/




