

body {
    
    padding-bottom: 50px;
}

.form { 
    padding: 50px !important;
    
}
.list-group-item {
    font-size:25px!important;  
    color : #eeeeee !important;  
    font-weight: 400!important;  
    
}

.list-group-item:hover { 
    color: #eeeeee  !important;  
    font-size: 27px !important;
    font-weight: 500!important;
}

.btn{
    justify-content: center !important;
}

.darkbutton {
    border-radius: 5px;
}

.card {
    margin-top: 50px !important ;
    border-radius: 15px !important;

}

.removeButton {
    border-radius: 0px !important;
}